<div class="search-div">
    <div class='container-button'>
        <div>
            <button mat-raised-button (click)="onCreate()">
                <mat-icon>add</mat-icon> Зарегистрировать задачу
            </button>
        </div>
        <div>
            <button mat-raised-button (click)="onReport()">
                <mat-icon>view_comfy</mat-icon> Сформировать отчет
            </button>
        </div>
    </div>
    <mat-form-field class="position-right-div">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- <ng-container matColumnDef="TaskNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TaskNumber}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TaskDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TaskDate </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TaskDate}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="Claim">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Claim </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Claim}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Brigade">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Brigade </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Brigade}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="TaskStaging">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TaskStaging </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.TaskStaging}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BrigadeConfirmation">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BrigadeConfirmation </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.BrigadeConfirmation}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BrigadeNote">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BrigadeNote </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.BrigadeNote}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="BrigadeMark">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BrigadeMark </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.BrigadeMark}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row.Id)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>