<mat-toolbar>
    <span>{{service.form.controls['Id'].value?"Редактировать задачу":"Новая задача"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="Id">
                <mat-form-field>
                    <input formControlName="TaskNumber" matInput placeholder="Номер*">
                    <mat-error>Это поле является обязательным.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TaskDate" matInput [matDatepicker]="picker" placeholder="Дата*">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>Это поле является обязательным.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="controles-container">
                <mat-form-field>
                    <mat-select [(ngModel)]="claimNumber" formControlName="ClaimId" placeholder="Номер заявки*">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let claim of listClaim">
                            <mat-option value="{{claim.Id}}">{{claim.ClaimNumber}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Это поле является обязательным.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="brigadeName" formControlName="BrigadeId" placeholder="Бригада*">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let brigade of listBrigade">
                            <mat-option value="{{brigade.Id}}">{{brigade.BrigadeName}}</mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error>Это поле является обязательным.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <div class="controles-container-staging">
                <mat-form-field>
                    <textarea formControlName="TaskStaging" matInput placeholder="Постановка задачи*"></textarea>
                    <mat-error>Это поле является обязательным.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight=90px>
        <mat-grid-tile *ngIf=check >
            <div class="controles-container">
                <mat-form-field>
                    <textarea formControlName="BrigadeNote" matInput placeholder="Примечания"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf=check >
                <div class="controles-container">
                <mat-form-field>
                    <textarea formControlName="BrigadeMark" matInput placeholder="Заметки"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="BrigadeConfirmation" (click)="onCheckbox()">Выполнено</mat-checkbox>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Сохранить</button>
                    <button mat-raised-button color="warn" (click)="onClose()">Закрыть</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>