<mat-toolbar>
    <span>{{service.form.controls['Id'].value?"Редактировать задачу":"Новая задача"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="Id">
                <mat-form-field>
                    <input formControlName="TaskNumber" matInput placeholder="TaskNumber*">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="TaskDate" matInput [matDatepicker]="picker" placeholder="ClaimDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="controles-container">
                <mat-form-field>
                    <mat-select formControlName="ClaimId" placeholder="Claim">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let claim of listClaim">
                            <mat-option value="{{claim.Id}}">{{claim.ClaimNumber}}-{{claim.ClaimDate}}-{{claim.Customer}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="BrigadeId" placeholder="Brigade">
                        <mat-option>None</mat-option>
                        <ng-container *ngFor="let brigade of listBrigade">
                            <mat-option value="{{brigade.Id}}">{{brigade.BrigadeNumber}}-{{brigade.BrigadeName}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile>
            <div class="controles-container-staging">
                <mat-form-field>
                    <textarea formControlName="TaskStaging" matInput placeholder="TaskStaging"></textarea>
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight=90px>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field *ngIf=check>
                    <textarea formControlName="BrigadeNote" matInput placeholder="BrigadeNote"></textarea>
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
                <div class="controles-container">
                <mat-form-field *ngIf=check>
                    <textarea formControlName="BrigadeMark" matInput placeholder="BrigadeMark*"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="add-bottom-padding">
                    <mat-checkbox formControlName="BrigadeConfirmation" (click)="onCheckbox()">Выполнено</mat-checkbox>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Сохранить</button>
                    <button mat-raised-button color="warn" (click)="onClose()">Закрыть</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>